{% extends 'layout.html' %}
{% block title %}My Classes{% endblock %}
{% block main %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" aria-controls="nav-create" aria-selected="true">Create a class</button>
            <button class="nav-link" id="nav-delete-tab" data-bs-toggle="tab" data-bs-target="#nav-delete" type="button" role="tab" aria-controls="nav-delete" aria-selected="true">Delete a class</button>

            {% for class in classes %}
                <button class="nav-link" id='nav-{{ class[2] }}-tab' data-bs-toggle="tab" data-bs-target='#nav-{{ class[2] }}' type="button" role="tab" aria-controls='nav-{{ class[2] }}' aria-selected="false">{{ class[2] }}</button>

            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">
            <h1>Welcome To Classes View!</h1>
            <p>Create a new class here.</p>
            <form method="post" action="/classes">

                <label for="class_name_create" class="form-label">Class Name</label>
                <label for="class_desc_create" class="form-label">Class <Desc></Desc></label>
                <input type="text" class="form-control" id="class_name_create" name="class_name_create" placeholder="Class Name">
                <input type="text" class="form-control" id="class_desc_create" name="class_desc_create" placeholder="Class Description">
                <input type="hidden" name="request_type" value="create">
                <textarea class="form-control" id="class_files_create" name="class_files_create" rows="3">Google drive links. (If you want add files, upload them to Google Drive and put the link here. if you have multiple files, put them in a new line)</textarea>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="tab-pane fade show" id="nav-delete" role="tabpanel" aria-labelledby="nav-delete-tab">
            <h1>delete classes</h1>
            <form method="post" action="/classes">

                <label for="class_name_delete" class="form-label">Class Name</label>
                <input class="form-control" list="datalistOptions" id="class_name_delete" name="class_name_delete" placeholder="Class Name">
                <datalist id="datalistOptions">
                    {% for class in classes %}
                    <option value='{{ class[2] }}'>{{ class[2] }}</option>
                    {% endfor %}
                </datalist>
                <input type="hidden" name="request_type" value="delete">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        {% for class in classes %}
            <div class="tab-pane fade" id='nav-{{ class[2] }}' role="tabpanel" aria-labelledby='nav-{{ class[2] }}-tab'>
                <h2>{{ class[2] }}</h2>
                <p>{{ class[3] }}</p>
            </div>
        {% endfor %}
        </div>
{% endblock %}